.grid1 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "navi content hamburger"
  ;
}
.navbar {
  display: flex;
  padding: 10px;
  flex-direction: row;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar li {
  display: inline-block;
}
.navbar a {
  display: flex;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navi {
  grid-area: navi;
}
.content {
  grid-area: content;
}
.hamburger {
  grid-area: hamburger;
}
.grid2 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 30% 65%;
  grid-template-areas:
  "flexbox1 flexbox2"
}
.flexbox1 {
  grid-area: flexbox1;
}
.flexbox2 {
  grid-area: flexbox2;
}
.flexContainer {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.flexbox1 img{
  height: 450px;
  width: 300px;
}
.fa-facebook {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background: #3B5998;
  color: white;
  margin: 20px;
}

.fa-instagram {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background: #125688;
  color: white;
  margin: 20px;
}

.fa-linkedin {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background: #007bb5;
  color: white;
  margin: 20px;
}
